/* TESTIMONIALS */
main.testimonials {
  background-color: #161616;
  overflow: hidden;

  .wrapper {
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 32px;
    min-height: calc(100vh - 60px);
    height: 100%;
    justify-content: space-between;

    .content {
      display: flex;
      flex-direction: column;
      gap: 56px;

      .testimonialsContainer {
        display: flex;
        gap: 0;

        span {
          width: 24px;
          height: 24px;
          aspect-ratio: 1/1;

          svg {
            width: 100%;
          }
        }

        .testimonialsSection {
          display: flex;
          padding-top: 24px;
          overflow: hidden;

          .testimonial {
            height: 100%;
            min-width: 100%;
            transition: none;

            p {
              color: #f6f6f6;
              font-size: 24px;
              font-weight: 500;
            }
          }
        }
      }
    }

    .authors {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 24px;

      .author {
        display: flex;
        padding: 36px 24px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: 1px solid #3d3d3d;
        background: rgba(38, 38, 38, 0.6);
        backdrop-filter: blur(30px);
        transition: all 0.1s ease;

        .authorName {
          color: #d1d1d1;
          font-size: 14px;
          font-weight: 500;
          text-transform: capitalize;
        }

        .authorJob {
          color: #888;
          font-size: 12px;
          font-weight: 500;
          text-transform: capitalize;
        }
      }

      .author.active {
        border: 1px solid #34a2fd;
      }
      .author:is(:hover:not(.active)) {
        cursor: pointer;
        border: 1px solid #f6f6f6;
      }
    }
  }

  .glowEllipse {
    max-width: 1248px;
    width: 100%;
    height: 200px;
    left: 50%;
    background-color: #34a2fd;
    border-radius: 50%;
    position: absolute;
    top: -18%;
    transform: translateX(-50%);
    z-index: 1;
    filter: blur(180px);
  }

  .glowEllipse.two {
    filter: blur(80px);
  }
}
@media (max-width: 780px) {
  main.testimonials {
    .wrapper {
      .content {
        .testimonialsContainer {
          span {
            width: 20px;
            height: 20px;
          }

          .testimonialsSection {
            .testimonial {
              p {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}
/* TESTIMONIALS */
